body, html {
  height:100%;
}

.node {
    cursor: pointer;
  }

  .node circle {
    fill: #fff;
    stroke: #cccccc;
    stroke-width: 2px;
  }

  .node text {
    font: 9px sans-serif;
  }

  .link {
    fill: none;
    stroke: #dddddd;
    stroke-width: 5px;
  }

  .link.is-detached{
    stroke-dasharray: "5,5";
  }